{{!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" /> --}}
<style>
  .status-icon {
    color: oklch(var(--nc)/0.5);
  }
  /* Custom highlighting styles */
  .wd-1 .col-1,
  .wd-2 .col-2,
  .wd-3 .col-3,
  .wd-4 .col-4,
  .wd-5 .col-5,
  .wd-6 .col-6,
  .wd-7 .col-7 {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }

  .hr-0 .row-0,
  .hr-1 .row-1,
  .hr-2 .row-2,
  .hr-3 .row-3,
  .hr-4 .row-4,
  .hr-5 .row-5,
  .hr-6 .row-6,
  .hr-7 .row-7,
  .hr-8 .row-8,
  .hr-9 .row-9,
  .hr-10 .row-10,
  .hr-11 .row-11,
  .hr-12 .row-12,
  .hr-13 .row-13,
  .hr-14 .row-14,
  .hr-15 .row-15,
  .hr-16 .row-16,
  .hr-17 .row-17,
  .hr-18 .row-18,
  .hr-19 .row-19,
  .hr-20 .row-20,
  .hr-21 .row-21,
  .hr-22 .row-22,
  .hr-23 .row-23 {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
  }

  .wd-1.hr-0 .col-1.row-0,
  .wd-1.hr-1 .col-1.row-1,
  .wd-1.hr-2 .col-1.row-2,
  .wd-1.hr-3 .col-1.row-3,
  .wd-1.hr-4 .col-1.row-4,
  .wd-1.hr-5 .col-1.row-5,
  .wd-1.hr-6 .col-1.row-6,
  .wd-1.hr-7 .col-1.row-7,
  .wd-1.hr-8 .col-1.row-8,
  .wd-1.hr-9 .col-1.row-9,
  .wd-1.hr-10 .col-1.row-10,
  .wd-1.hr-11 .col-1.row-11,
  .wd-1.hr-12 .col-1.row-12,
  .wd-1.hr-13 .col-1.row-13,
  .wd-1.hr-14 .col-1.row-14,
  .wd-1.hr-15 .col-1.row-15,
  .wd-1.hr-16 .col-1.row-16,
  .wd-1.hr-17 .col-1.row-17,
  .wd-1.hr-18 .col-1.row-18,
  .wd-1.hr-19 .col-1.row-19,
  .wd-1.hr-20 .col-1.row-20,
  .wd-1.hr-21 .col-1.row-21,
  .wd-1.hr-22 .col-1.row-22,
  .wd-1.hr-23 .col-1.row-23,

  .wd-2.hr-0 .col-2.row-0,
  .wd-2.hr-1 .col-2.row-1,
  .wd-2.hr-2 .col-2.row-2,
  .wd-2.hr-3 .col-2.row-3,
  .wd-2.hr-4 .col-2.row-4,
  .wd-2.hr-5 .col-2.row-5,
  .wd-2.hr-6 .col-2.row-6,
  .wd-2.hr-7 .col-2.row-7,
  .wd-2.hr-8 .col-2.row-8,
  .wd-2.hr-9 .col-2.row-9,
  .wd-2.hr-10 .col-2.row-10,
  .wd-2.hr-11 .col-2.row-11,
  .wd-2.hr-12 .col-2.row-12,
  .wd-2.hr-13 .col-2.row-13,
  .wd-2.hr-14 .col-2.row-14,
  .wd-2.hr-15 .col-2.row-15,
  .wd-2.hr-16 .col-2.row-16,
  .wd-2.hr-17 .col-2.row-17,
  .wd-2.hr-18 .col-2.row-18,
  .wd-2.hr-19 .col-2.row-19,
  .wd-2.hr-20 .col-2.row-20,
  .wd-2.hr-21 .col-2.row-21,
  .wd-2.hr-22 .col-2.row-22,
  .wd-2.hr-23 .col-2.row-23,

  .wd-3.hr-0 .col-3.row-0,
  .wd-3.hr-1 .col-3.row-1,
  .wd-3.hr-2 .col-3.row-2,
  .wd-3.hr-3 .col-3.row-3,
  .wd-3.hr-4 .col-3.row-4,
  .wd-3.hr-5 .col-3.row-5,
  .wd-3.hr-6 .col-3.row-6,
  .wd-3.hr-7 .col-3.row-7,
  .wd-3.hr-8 .col-3.row-8,
  .wd-3.hr-9 .col-3.row-9,
  .wd-3.hr-10 .col-3.row-10,
  .wd-3.hr-11 .col-3.row-11,
  .wd-3.hr-12 .col-3.row-12,
  .wd-3.hr-13 .col-3.row-13,
  .wd-3.hr-14 .col-3.row-14,
  .wd-3.hr-15 .col-3.row-15,
  .wd-3.hr-16 .col-3.row-16,
  .wd-3.hr-17 .col-3.row-17,
  .wd-3.hr-18 .col-3.row-18,
  .wd-3.hr-19 .col-3.row-19,
  .wd-3.hr-20 .col-3.row-20,
  .wd-3.hr-21 .col-3.row-21,
  .wd-3.hr-22 .col-3.row-22,
  .wd-3.hr-23 .col-3.row-23,

  .wd-4.hr-0 .col-4.row-0,
  .wd-4.hr-1 .col-4.row-1,
  .wd-4.hr-2 .col-4.row-2,
  .wd-4.hr-3 .col-4.row-3,
  .wd-4.hr-4 .col-4.row-4,
  .wd-4.hr-5 .col-4.row-5,
  .wd-4.hr-6 .col-4.row-6,
  .wd-4.hr-7 .col-4.row-7,
  .wd-4.hr-8 .col-4.row-8,
  .wd-4.hr-9 .col-4.row-9,
  .wd-4.hr-10 .col-4.row-10,
  .wd-4.hr-11 .col-4.row-11,
  .wd-4.hr-12 .col-4.row-12,
  .wd-4.hr-13 .col-4.row-13,
  .wd-4.hr-14 .col-4.row-14,
  .wd-4.hr-15 .col-4.row-15,
  .wd-4.hr-16 .col-4.row-16,
  .wd-4.hr-17 .col-4.row-17,
  .wd-4.hr-18 .col-4.row-18,
  .wd-4.hr-19 .col-4.row-19,
  .wd-4.hr-20 .col-4.row-20,
  .wd-4.hr-21 .col-4.row-21,
  .wd-4.hr-22 .col-4.row-22,
  .wd-4.hr-23 .col-4.row-23,

  .wd-5.hr-0 .col-5.row-0,
  .wd-5.hr-1 .col-5.row-1,
  .wd-5.hr-2 .col-5.row-2,
  .wd-5.hr-3 .col-5.row-3,
  .wd-5.hr-4 .col-5.row-4,
  .wd-5.hr-5 .col-5.row-5,
  .wd-5.hr-6 .col-5.row-6,
  .wd-5.hr-7 .col-5.row-7,
  .wd-5.hr-8 .col-5.row-8,
  .wd-5.hr-9 .col-5.row-9,
  .wd-5.hr-10 .col-5.row-10,
  .wd-5.hr-11 .col-5.row-11,
  .wd-5.hr-12 .col-5.row-12,
  .wd-5.hr-13 .col-5.row-13,
  .wd-5.hr-14 .col-5.row-14,
  .wd-5.hr-15 .col-5.row-15,
  .wd-5.hr-16 .col-5.row-16,
  .wd-5.hr-17 .col-5.row-17,
  .wd-5.hr-18 .col-5.row-18,
  .wd-5.hr-19 .col-5.row-19,
  .wd-5.hr-20 .col-5.row-20,
  .wd-5.hr-21 .col-5.row-21,
  .wd-5.hr-22 .col-5.row-22,
  .wd-5.hr-23 .col-5.row-23,

  .wd-6.hr-0 .col-6.row-0,
  .wd-6.hr-1 .col-6.row-1,
  .wd-6.hr-2 .col-6.row-2,
  .wd-6.hr-3 .col-6.row-3,
  .wd-6.hr-4 .col-6.row-4,
  .wd-6.hr-5 .col-6.row-5,
  .wd-6.hr-6 .col-6.row-6,
  .wd-6.hr-7 .col-6.row-7,
  .wd-6.hr-8 .col-6.row-8,
  .wd-6.hr-9 .col-6.row-9,
  .wd-6.hr-10 .col-6.row-10,
  .wd-6.hr-11 .col-6.row-11,
  .wd-6.hr-12 .col-6.row-12,
  .wd-6.hr-13 .col-6.row-13,
  .wd-6.hr-14 .col-6.row-14,
  .wd-6.hr-15 .col-6.row-15,
  .wd-6.hr-16 .col-6.row-16,
  .wd-6.hr-17 .col-6.row-17,
  .wd-6.hr-18 .col-6.row-18,
  .wd-6.hr-19 .col-6.row-19,
  .wd-6.hr-20 .col-6.row-20,
  .wd-6.hr-21 .col-6.row-21,
  .wd-6.hr-22 .col-6.row-22,
  .wd-6.hr-23 .col-6.row-23,

  .wd-7.hr-0 .col-7.row-0,
  .wd-7.hr-1 .col-7.row-1,
  .wd-7.hr-2 .col-7.row-2,
  .wd-7.hr-3 .col-7.row-3,
  .wd-7.hr-4 .col-7.row-4,
  .wd-7.hr-5 .col-7.row-5,
  .wd-7.hr-6 .col-7.row-6,
  .wd-7.hr-7 .col-7.row-7,
  .wd-7.hr-8 .col-7.row-8,
  .wd-7.hr-9 .col-7.row-9,
  .wd-7.hr-10 .col-7.row-10,
  .wd-7.hr-11 .col-7.row-11,
  .wd-7.hr-12 .col-7.row-12,
  .wd-7.hr-13 .col-7.row-13,
  .wd-7.hr-14 .col-7.row-14,
  .wd-7.hr-15 .col-7.row-15,
  .wd-7.hr-16 .col-7.row-16,
  .wd-7.hr-17 .col-7.row-17,
  .wd-7.hr-18 .col-7.row-18,
  .wd-7.hr-19 .col-7.row-19,
  .wd-7.hr-20 .col-7.row-20,
  .wd-7.hr-21 .col-7.row-21,
  .wd-7.hr-22 .col-7.row-22,
  .wd-7.hr-23 .col-7.row-23 {
    background-color: oklch(var(--in)/0.3);
    stroke: oklch(var(--in)/0.7);
    color: oklch(var(--in)/0.5);
  }
  
</style>

<div class="bg-base-100 text-base-content p-4">
  <div class="grid grid-cols-8 gap-px wd-\{{now().isoweekday()}} hr-\{{now().hour}}">
    <div></div>
    <!-- Header Row -->
    {{#each weekdays}}
    <div class="col-{{inc @index}} bg-base-200 p-2 text-center place-content-center">
      {{this}}
    </div>
    {{/each}}
    <!-- Time Rows -->
    {{#each hours}}
    <div class="row-{{@index}} bg-base-200 p-2 text-center place-content-center">
      {{title}}
    </div>
    {{#each schedule}}
    <div class="status-icon col-{{@index}} row-{{@../index}} bg-base-200 p-2 text-center">
      <div class="flex justify-center items-center h-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full max-w-full max-h-8" viewBox="0 0 24 24">
          {{#if (eq this "yes")}}
            <title>Power on</title>
            <path fill="currentColor"
            d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
          {{/if}}
          {{#if (eq this "no")}}
            <title>Blackout</title>
            <path fill="currentColor"
            d="M12,2C9.76,2 7.78,3.05 6.5,4.68L7.93,6.11C8.84,4.84 10.32,4 12,4A5,5 0 0,1 17,9C17,10.68 16.16,12.16 14.89,13.06L16.31,14.5C17.94,13.21 19,11.24 19,9A7,7 0 0,0 12,2M3.28,4L2,5.27L5.04,8.3C5,8.53 5,8.76 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H14.73L18.73,22L20,20.72L3.28,4M7.23,10.5L12.73,16H10V13.58C8.68,13 7.66,11.88 7.23,10.5M9,20V21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9Z" />
          {{/if}}
          {{#if (eq this "maybe")}}
            <title>Possible blackout</title>
            <path fill="currentColor"
            d="M8 2C11.9 2 15 5.1 15 9C15 11.4 13.8 13.5 12 14.7V17C12 17.6 11.6 18 11 18H5C4.4 18 4 17.6 4 17V14.7C2.2 13.5 1 11.4 1 9C1 5.1 4.1 2 8 2M5 21V20H11V21C11 21.6 10.6 22 10 22H6C5.4 22 5 21.6 5 21M8 4C5.2 4 3 6.2 3 9C3 11.1 4.2 12.8 6 13.6V16H10V13.6C11.8 12.8 13 11.1 13 9C13 6.2 10.8 4 8 4M20.5 14.5V16H19V14.5H20.5M18.5 9.5H17V9C17 7.3 18.3 6 20 6S23 7.3 23 9C23 10 22.5 10.9 21.7 11.4L21.4 11.6C20.8 12 20.5 12.6 20.5 13.3V13.5H19V13.3C19 12.1 19.6 11 20.6 10.4L20.9 10.2C21.3 9.9 21.5 9.5 21.5 9C21.5 8.2 20.8 7.5 20 7.5S18.5 8.2 18.5 9V9.5Z" />
          {{/if}}
        </svg>
      </div>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>